<<<<<<< HEAD
.container{
    display: flex;
    flex-direction: column;
    gap:15px
=======
.container{
    display: flex;
    flex-direction: column;
    gap:15px
>>>>>>> 84b44ebb3cba5e881e05b666e379df327087d5a8
}